<ActionBar class="action-bar" title="Geolocation Settings">
  <NavigationButton android.systemIcon="ic_menu_back" text="Cancel" (tap)="cancel()"></NavigationButton>
</ActionBar>

<StackLayout class="page-wrapper">
  <ScrollView height="100%">
    <StackLayout class="p-5">

      <Label text="Location Provider:" class="m-t-5 h3"></Label>

      <StackLayout orientation="horizontal">
        <Label class="m-t-5 m-l-10"
          editable="false" [text]="config.locationProvider" (tap)="onLocationProviderTap()"></Label>
        <Label class="m-t-5 m-l-10 fa" editable="false" text="&#xf107;" (tap)="onLocationProviderTap()"></Label>
      </StackLayout>

      <Label class="list-separator"></Label>

      <Label text="Desired Accuracy:" class="m-t-5 h3"></Label>

      <StackLayout orientation="horizontal">
        <Label hint="MEDIUM_ACCURACY" class="m-t-5 m-l-10"
          editable="false" [text]="config.desiredAccuracy" (tap)="onDesiredAccuracyTap()"></Label>
        <Label class="m-t-5 m-l-10 fa" editable="false" text="&#xf107;" (tap)="onDesiredAccuracyTap()"></Label>
      </StackLayout>

      <Label class="list-separator"></Label>

      <Label text="Stationary Radius:" class="m-t-5 h3"></Label>
      
      <TextField 
        keyboardtype="number"
        returnKeyType="done"
        [text]="config.stationaryRadius" 
        (blur)="onStationaryRadius($event)"
        (returnPress)="onStationaryRadius($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Debug Sounds:" class="m-t-5 h3"></Label>
      <Switch checked="{{config.debug}}" (checkedChange)="onDebugCheckedChange($event)" class="m-t-5 m-l-10"></Switch>

      <Label class="list-separator"></Label>

      <Label text="Distance Filter:" class="m-t-5 h3"></Label>

      <TextField
        keyboardtype="number"
        returnKeyType="done"
        [text]="config.distanceFilter" 
        (blur)="onDistanceFilter($event)"
        (returnPress)="onDistanceFilter($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Stop on Terminate:" class="m-t-5 h3"></Label>
      <Switch checked="{{config.stopOnTerminate}}" (checkedChange)="onStopOnTerminateChange($event)" class="m-t-5 m-l-10"></Switch>

      <Label class="list-separator"></Label>

      <Label text="Start on Boot: (Android Only)" class="m-t-5 h3"></Label>
      <Switch checked="{{config.startOnBoot}}" (checkedChange)="onStartOnBootChange($event)" class="m-t-5 m-l-10"></Switch>

      <Label class="list-separator"></Label>

      <Label text="Interval: (Android Only)" class="m-t-5 h3"></Label>

      <TextField
        keyboardtype="number"
        returnKeyType="done"
        [text]="config.interval" 
        (blur)="onInterval($event)"
        (returnPress)="onInterval($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Fastest Interval: (Android Only):" class="m-t-5 h3"></Label>

      <TextField
        keyboardtype="number"
        returnKeyType="done"
        [text]="config.fastestInterval" 
        (blur)="onFastestInterval($event)"
        (returnPress)="onFastestInterval($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Activities Interval: (Android Only):" class="m-t-5 h3"></Label>

      <TextField 
        keyboardtype="number"
        returnKeyType="done"
        [text]="config.activitiesInterval" 
        (blur)="onActivitiesInterval($event)"
        (returnPress)="onActivitiesInterval($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Stop on Still Activity: (Android Only)" class="m-t-5 h3"></Label>
      <Switch checked="{{config.stopOnStillActivity}}" (checkedChange)="onStopOnStillActivityChange($event)" class="m-t-5 m-l-10"></Switch>

      <Label class="list-separator"></Label>

      <Label text="Notifications Enabled: (Android Only)" class="m-t-5 h3"></Label>
      <Switch checked="{{config.notificationsEnabled}}" (checkedChange)="onNotificationsEnabledChange($event)" class="m-t-5 m-l-10"></Switch>

      <Label class="list-separator"></Label>

      <Label text="Start Foreground: (Android Only)" class="m-t-5 h3"></Label>
      <Switch checked="{{config.startForeground}}" (checkedChange)="onStartForegroundChange($event)" class="m-t-5 m-l-10"></Switch>

      <Label class="list-separator"></Label>

      <Label text="Notification Title: (Android Only):" class="m-t-5 h3"></Label>

      <TextField
        returnKeyType="done"
        [text]="config.notificationTitle" 
        (blur)="onNotificationTitle($event)"
        (returnPress)="onNotificationTitle($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Notification Text: (Android Only):" class="m-t-5 h3"></Label>

      <TextField
        returnKeyType="done"
        [text]="config.notificationText" 
        (blur)="onNotificationText($event)"
        (returnPress)="onNotificationText($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Notification Icon Color: (Android Only):" class="m-t-5 h3"></Label>

      <TextField
        returnKeyType="done"
        [text]="config.notificationIconColor" 
        (blur)="onNotificationIconColor($event)"
        (returnPress)="onNotificationIconColor($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Notification Icon Large: (Android Only):" class="m-t-5 h3"></Label>

      <TextField 
        returnKeyType="done"
        [text]="config.notificationIconLarge" 
        (blur)="onNotificationIconLarge($event)"
        (returnPress)="onNotificationIconLarge($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Notification Icon Small: (Android Only):" class="m-t-5 h3"></Label>

      <TextField
        returnKeyType="done"
        [text]="config.notificationIconSmall" 
        (blur)="onNotificationIconSmall($event)"
        (returnPress)="onNotificationIconSmall($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label text="Activity Type (iOS Only):" class="m-t-5 h3"></Label>

      <StackLayout orientation="horizontal">
        <Label hint="OtherNavigation" class="m-t-5 m-l-10"
          editable="false" [text]="config.activityType" (tap)="onActivityTypeTap()"></Label>
        <Label class="m-t-5 m-l-10 fa" editable="false" text="&#xf107;" (tap)="onActivityTypeTap()"></Label>
      </StackLayout>

      <Label class="list-separator"></Label>

      <Label text="Pause Location Updates: (iOS Only)" class="m-t-5 h3"></Label>
      <Switch checked="{{config.pauseLocationUpdates}}" (checkedChange)="onPauseLocationUpdatesChange($event)" class="m-t-5 m-l-10"></Switch>

      <Label class="list-separator"></Label>

      <Label text="Save Battery on Background: (iOS Only)" class="m-t-5 h3"></Label>
      <Switch checked="{{config.saveBatteryOnBackground}}" (checkedChange)="onSaveBatteryOnBackgroundChange($event)" class="m-t-5 m-l-10"></Switch>

      <Label class="list-separator"></Label>

      <Label text="Url:" class="m-t-5 h3"></Label>

      <TextField
        returnKeyType="done"
        [text]="config.url" 
        (blur)="onUrl($event)"
        (returnPress)="onUrl($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Sync Url:" class="m-t-5 h3"></Label>

      <TextField
        returnKeyType="done"
        [text]="config.syncUrl" 
        (blur)="onSyncUrl($event)"
        (returnPress)="onSyncUrl($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Sync Threshold:" class="m-t-5 h3"></Label>

      <TextField
        keyboardtype="number"
        returnKeyType="done"
        [text]="config.syncThreshold" 
        (blur)="onSyncThreshold($event)"
        (returnPress)="onSyncThreshold($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Http Headers:" class="m-t-5 h3"></Label>

      <TextField
        returnKeyType="done"
        [text]="config.httpHeaders" 
        (blur)="onHttpHeaders($event)"
        (returnPress)="onHttpHeaders($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Max Locations:" class="m-t-5 h3"></Label>

      <TextField
        keyboardtype="number"
        returnKeyType="done"
        [text]="config.maxLocations" 
        (blur)="onMaxLocations($event)"
        (returnPress)="onMaxLocations($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

      <Label class="list-separator"></Label>

      <Label text="Post Template:" class="m-t-5 h3"></Label>

      <TextField
        returnKeyType="done"
        [text]="config.postTemplate" 
        (blur)="onPostTemplate($event)"
        (returnPress)="onPostTemplate($event)"
        autocorrect="false"
        maxLength="10"
        class=" m-l-10 scf-input"></TextField>

    </StackLayout>
  </ScrollView>
</StackLayout>

