/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/* App Global CSS - borrowed from the Personal Finance Marketplace sample app */

.page {
    background-color: #2C3251;
}

.action-bar {
    background-color: #2C3251;
}

label {
    /* https://www.nativescript.org/blog/using-custom-fonts-in-a-nativescript-app */
    font-family: "Quicksand", "Quicksand-Regular", "Quicksand-Bold";
    color: white;
}

.large {
    font-size: 40;
    font-weight: bold;
    margin-bottom: 5;
    vertical-align: top;
}

.medium {
    font-size: 28;
    /* font-weight: bold; */
    margin-bottom: 5;
    vertical-align: top;
}

.small {
    font-size: 15;
    margin: 0;
    /* text-align: left;  */
}

.hr-light {
    background-color: white;
    opacity: 0.1;
}
