<ActionBar class="action-bar" title="Debug Messages">
  <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout class="page page-content transparent-area m-20">

  <!--
  FIXME: I don't think this is the correct way to do headers
  -->

  <StackLayout class="list-group">
    <GridLayout class="list-group-item" rows="auto,auto" columns="*,*,*">
      <Label row="0" col="0" text="ID" textAlignment="center" class="font-weight-bold" ></Label>
      <Label row="0" col="1" text="Context" textAlignment="center" class="font-weight-bold m-l-20"></Label>
      <Label row="0" col="2" text="Level" textAlignment="center" class="font-weight-bold"></Label>
      <Label row="1" col="0" colSpan="3" text="Message" textAlignment="center" class="font-weight-bold"></Label>
    </GridLayout>
  </StackLayout>
  
  <ListView [items]="messages" class="list-group" *ngIf="messages.length>1" height="100%">
    <ng-template let-entry="item" let-i="index" let-odd="odd" let-even="even">

      <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->

      <StackLayout>

        <GridLayout class="list-group-item" rows="auto,auto" columns="*,*,*">
          <Label row="0" col="0" text="{{entry.id}}"></Label>
          <Label row="0" col="1" text="{{entry.context}}" textWrap="true" class="m-l-20"></Label>
          <Label row="0" col="2" text="{{entry.level}}" textWrap="true" class="m-l-20"></Label>
          <Label row="1" col="0" colSpan="3" text="{{entry.message}}" textWrap="true" class="m-l-20"></Label>
        </GridLayout>

      </StackLayout>

    </ng-template>
  </ListView>

</StackLayout>
